<%= form_for(@client_app) do |f| %>
  <% if @client_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_app.errors.count, "error") %> prohibited this client_app from being saved:</h2>

      <ul>
      <% @client_app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :subdomain %><br>
    <%= f.text_field :subdomain %>
  </div>
  <div class="field">
    <%= f.label :tenant_name %><br>
    <%= f.text_field :tenant_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
